body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
}

.container {
    text-align: center;
    position: relative;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    width: 1000px;
    height: 750px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
}

#logo {
    width: 30%;
    height: auto; 
}

.titolo {
    color: #00dd00;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    background-color: #00dd00;
    width: 100%;
}

.bottone {
    position: absolute;
    left: 100px;
}

.nomemonopattino {
    font-size: larger;
    padding-left: 25px;
    text-align: left;
    color: white;
}

.via {
    color: white;
    text-align: left;
}

.barracarica {
    margin-top: 5px;
    width: 300px;
    height: 25px;
    background-color: orange;
    border-radius: 2px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.barracarica2 {
    margin-top: 5px;
    width: 550px;
    height: 25px;
    background-color: #00dd00;
    border-radius: 2px;
}


.barracarica3 {
    margin-top: 5px;
    width: 120px;
    height: 25px;
    background-color: red;
    border-radius: 2px;
}
